<form method="post">
	<input type="hidden" name="action" value="submit"/>
	<input type="hidden" name="new" value="[new]"/>
	<input type="hidden" name="oldName" value="[oldName]"/>
	<input type="hidden" name="client" value="[client]"/>
	<input type="hidden" name="project" value="[project]"/>
	Task Name:<input type="text" name="name" value="[name]"/><br/>
	Task Code:<input type="text" name="taskCode" value="[taskCode]"/><br/>
	Billing Code:<input type="text" name="billingCode" value="[billingCode]"/><br/>
	Expected Hours:<input type="text" name="expectedHours" value="[expectedHours]"/><br/>
	<input type="submit" value="Save"/>
</form>
