<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://dev.jquery.com/view/tags/ui/latest/ui/ui.datepicker.js"></script>
<link rel="stylesheet" href="http://dev.jquery.com/view/tags/ui/latest/themes/flora/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">


<style type="text/css">
<!--
* { margin: 0;padding:0;}
#sheet			{overflow-x:scroll;}
#sheet input[type="text"] {width:50px;height:25px;border:1px solid grey;;padding:0px;margin:0;}
#sheet input:active[type="text"],
#sheet input:focus[type="text"] {background-color:#CCFFFF;}
#sheet input:hover[type="text"] {background-color:#DDFFFF;}

input.date {width: 95px;}
.dateHeader td {border-right: 1px solid black;}
.dateHeader {font-weight:bold;}
-->
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#rangeStart,#rangeEnd").datepicker({
		firstDay: 1,
		beforeShow: customRange
});
  });

function update(event,x,y) {
	if(event && (event.keyCode == 13 || event.keyCode == 40)) {
		document.getElementById(x + (parseInt(y) + 1)).focus();
		document.getElementById(x + (parseInt(y) + 1)).select();
	} else if (event && event.keyCode == 38) {
		
		document.getElementById(x + (parseInt(y) - 1)).focus();
		document.getElementById(x + (parseInt(y) - 1)).select();
	} else if(event && event.keyCode == 37) {
		// @TODO Code left arrow key
	} else if(event && event.keyCode == 39) {
		// @TODO Code right arrow key
	}
	// @TODO Keep this section only for speed puposes, once computers are faster, we should just recalc the whole table.
	if(x && y && !(event.keyCode >= 37 && event.keyCode <= 40 || event.keyCode ==13 || event.keyCode == 9 || event.keyCode==16)) {
		sheet.modified.value = "true";
		var total = 0;
		for(var i = 0;i<columns;i++) {
			total += parseFloat(document.getElementById(alphabet[i] + y).value);
		}
		document.getElementById("taskTotal" + y).innerHTML = total;
		
		total = 0;
		for(var j = 1;j<=rows;j++) {
			total += parseFloat(document.getElementById(x + j).value);
		}
		document.getElementById("dayTotal" + x).innerHTML = total;
	} else {
		//alert("no y");
		for(var j = 1;j<=rows;j++) {
			var total = 0;
			for(var i = 0;i<columns;i++) {
				total += parseFloat(document.getElementById(alphabet[i] + j).value);
			}
			document.getElementById("taskTotal" + j).innerHTML = total;
		}
		for(var i = 0;i<columns;i++) {
			var total = 0;
			for(var j = 1;j<=rows;j++) {
				total += parseFloat(document.getElementById(alphabet[i] + j).value);
			}
			document.getElementById("dayTotal" + alphabet[i]).innerHTML = total;
		}
		
	}
		
	
}
function iselect(element) {
	element.select();
}
function customRange(input) { 
	return {minDate: (input.id == "rangeEnd" ? $("#rangeStart").datepicker("getDate") : null), 
		maxDate: (input.id == "rangeStart" ? $("#rangeEnd").datepicker("getDate") : null)}; 
} 

</script>
	