<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://dev.jquery.com/view/tags/ui/latest/ui/ui.datepicker.js"></script>
<link rel="stylesheet" href="http://dev.jquery.com/view/tags/ui/latest/themes/flora/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">


<style type="text/css">
<!--
* { margin: 0;padding:0;}
#sheet input[type="text"] {width:50px;height:25px;border-style:solid;border: 0 1px 1px 0;padding:0px;margin:0;}
#sheet input:active[type="text"],
#sheet input:focus[type="text"] {background-color:#CCFFFF;}
input.date {width: 95px;}
.dateHeader td {border-right: 1px solid black;}
.dateHeader {font-weight:bold;}
-->
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#rangeStart,#rangeEnd").datepicker({
		firstDay: 1,
		beforeShow: customRange
});
  });

function update(event,x,y) {
	if(event && event.keyCode == 13) {
		//alert("got enter key: " + (x + (parseInt(y) + 1)));
		document.getElementById(x + (parseInt(y) + 1)).focus();
	}
}
function customRange(input) { 
	return {minDate: (input.id == "rangeEnd" ? $("#rangeStart").datepicker("getDate") : null), 
		maxDate: (input.id == "rangeStart" ? $("#rangeEnd").datepicker("getDate") : null)}; 
} 

</script>
	